*~
*.la
*.lo

Makefile          
Makefile.in       
aclocal.m4        
ar-lib            
autom4te.cache/   
config.guess      
config.h.in       
config.log        
config.status     
config.sub        
configure         
depcomp           
install-sh        
libtool           
ltmain.sh         
m4/               
missing           
.deps/
.libs/        
